<div class="hover:shadow-md hover:shadow-primary/20">
  <p-card
    class="cursor-pointer hover:scale-101 transition-transform duration-200 md:pointer-events-auto pointer-events-none"
    routerLink="/frame-data/{{ character().fightCoreId }}/{{
      character().normalizedName
    }}"
  >
    <ng-template #header>
      <div
        class="w-full flex items-center justify-between pt-2 px-5 rounded-t-md"
      >
        <div class="flex items-center gap-2">
          <p-avatar
            image="https://www.fightcore.gg/newicons/{{
              character().name
            }}.webp"
            shape="square"
            size="normal"
          ></p-avatar>
          <p class="text-xl font-bold">
            {{ character().name }}
          </p>
        </div>
      </div>
    </ng-template>

    <p-table [value]="statistics()" stripedRows [size]="'small'">
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </ng-template>
      <ng-template #body let-stat>
        <tr>
          <td>{{ stat.name }}</td>
          <td>{{ stat.value }}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template #footer>
      <div class="flex gap-4 mt-1">
        <a
          routerLink="/frame-data/{{ character().fightCoreId }}/{{
            character().normalizedName
          }}"
          pButton
          class="w-full pointer-events-auto"
          styleClass="w-full"
        >
          View
        </a>
      </div>
    </ng-template>
  </p-card>
</div>
