<p-select
  [options]="characters"
  (onChange)="selectedCharacter.emit($event.value)"
  optionLabel="name"
  placeholder="Select a character"
  class="w-full md:w-56"
  [showClear]="true"
  [filter]="true"
>
  <ng-template let-character #item>
    <div class="flex items-center gap-2">
      <app-character-icon
        [characterName]="character.name"
        class="w-6 h-6 inline-block mr-1"
      ></app-character-icon>
      <div>{{ character.name }}</div>
    </div>
  </ng-template>
</p-select>
