:host ::ng-deep .p-card {
  border: 2px solid #ffff; /* invisible by default */
  transition: border-color 0.3s ease; /* smooth ease-in effect */
  cursor: pointer; /* pointer on hover */
}


/* Base card styling */
.dark :host ::ng-deep .p-card {
    border-color: #030712; /* gray-600 */
}

/* Hover state */
:host ::ng-deep .p-card:hover {
  border-width: 2px;
  @apply border-primary-700; /* change to your preferred color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
}
