<p-card [style]="{ width: '100%', overflow: 'hidden' }">
  <ng-template #header>
    <div class="px-4 pt-4">
      <div class="flex">
        <!-- <div class="pr-3 shrink">
          @if (post().author.image) {
          <p-avatar [image]="post().author.image" size="normal" />
          }
        </div> -->
        <div class="grow">
          <p class="font-semibold">{{ article().title }}</p>
          <p class="dark:text-slate-300">By {{ article().author.name }}</p>
        </div>
        <!-- <div [class]="post().category.color" class="category-badge">
        <span class="">{{ post().category.name }}</span>
      </div> -->
      </div>
      <!-- <div class="card flex items-center gap-2 flex-wrap px-2 py-1">
        @for (tag of post().tags; track tag) {
        <p-chip>
          <span class="text-sm text-primary-600"> #{{ tag }} </span>
        </p-chip>
        }
      </div> -->
    </div>
    <!-- <div class="w-full h-44 p-2">
      <img
        alt="Card"
        class="w-full h-full rounded-md"
        src="https://stfightcoreprodwestus001.blob.core.windows.net/images/FightcoreTest.png"
      />
    </div> -->
  </ng-template>
  <!-- <div class="text-sm text-slate-400">
    Last updated {{ post().updatedAt | date }}
  </div> -->
  <ng-template #footer>
    <div class="flex w-full gap-3 -mt-2">
      <a
        target="_blank"
        pButton
        class="w-full p-button"
        severity="primary"
        icon="pi pi-external-link"
      >
        Read
      </a>
      <p-button pButtonIcon icon="pi pi-bookmark" severity="secondary" />
      <p-button pButtonIcon icon="pi pi-share-alt" severity="secondary" />
    </div>
    <div class="italic text-sm text-primary-600 flex">
      <!-- <div class="grow">
        Hosted on
        <a class="underline" [href]="post().source.url">{{
          art().source.name
        }}</a>
      </div> -->

      <span class="italic text-sm text-primary-600 text-right">
        Created {{ article().createdAt | date }}
      </span>
    </div>
  </ng-template>
</p-card>
