<form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-4 mb-4">
      <label for="name" class="font-semibold w-24">Name</label>
      <input
        pInputText
        id="name"
        class="flex-auto"
        formControlName="name"
        autocomplete="off"
      />
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="imageUrl" class="font-semibold w-24">Image URL</label>
      <input
        pInputText
        id="imageUrl"
        class="flex-auto"
        formControlName="imageUrl"
        autocomplete="off"
      />
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        type="button"
        (onClick)="close()"
      />
      <p-button
        type="submit"
        label="Create Author"
        [disabled]="authorForm.invalid"
      />
    </div>
  </div>
</form>
