<p-card class="flex flex-col flex-1 h-full" [pt]="cardPtOptions">
  <ng-template #title>
    {{ sectionTitle() }}
  </ng-template>
  <ng-template #subtitle>
    <span>By {{ author() }}</span>
  </ng-template>
  <div class="mb-2">
    {{ description() }}
  </div>
  <ng-template #footer>
    <div class="flex mt-auto gap-4">
      <a [routerLink]="link()" class="w-full" styleClass="w-full" pButton>
        View
      </a>
      <p-button icon="pi pi-heart" severity="secondary" />
      <p-button icon="pi pi-share-alt" severity="secondary" />
    </div>
  </ng-template>
</p-card>
