<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
  <p-card>
    <ng-template #header>
      <div class="px-4 pt-4 -mb-4 flex">
        <div class="grow">
          <p class="font-semibold">Beginner guides</p>
          <p class="dark:text-slate-300">By Melee Index</p>
        </div>
      </div>
    </ng-template>
    Explore guides and tutorials for new players, get started with the basics of
    Melee, and learn about the game mechanics.
    <ng-template #footer>
      <p-button
        label="Explore"
        icon="pi pi-info-circle"
        severity="primary"
      />
    </ng-template>
  </p-card>
    <p-card>
    <ng-template #header>
      <div class="px-4 pt-4 -mb-4 flex">
        <div class="grow">
          <p class="font-semibold">Character guides</p>
          <p class="dark:text-slate-300">By Melee Index</p>
        </div>
      </div>
    </ng-template>
    Explore in-depth guides for each character, including advanced techniques,
    matchups, and strategies to improve your gameplay.
    <ng-template #footer>
      <p-button
        label="Explore"
        icon="pi pi-info-circle"
        severity="primary"
      />
    </ng-template>
  </p-card>
    <p-card>
    <ng-template #header>
      <div class="px-4 pt-4 -mb-4 flex">
        <div class="grow">
          <p class="font-semibold">Frame data collection</p>
          <p class="dark:text-slate-300">By FightCore</p>
        </div>
      </div>
    </ng-template>
    Explore the ins and outs of Melee's frame data, including character-specific
    information, frame by frame animations, and more to enhance your competitive edge.
    <ng-template #footer>
      <p-button
        label="Explore"
        icon="pi pi-info-circle"
        severity="primary"
      />
    </ng-template>
  </p-card>
    <p-card>
    <ng-template #header>
      <div class="px-4 pt-4 -mb-4 flex">
        <div class="grow">
          <p class="font-semibold">Ultimate Falco collection</p>
          <p class="dark:text-slate-300">By some Falco Player</p>
        </div>
      </div>
    </ng-template>
    Explore the ultimate collection of Falco resources, including guides, videos,
    and community discussions to master the character and dominate your matches.
    <ng-template #footer>
      <p-button
        label="Explore"
        icon="pi pi-info-circle"
        severity="primary"
      />
    </ng-template>
  </p-card>
</div>
