<div class="card">
  <p-menubar>
    <ng-template #start>
      <span
        class="inline-flex items-center gap-1 px-2 py-2 pr-5 cursor-pointer"
        routerLink="/"
      >
        <svg
          width="33"
          height="35"
          viewBox="0 0 33 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="block mx-auto"
        >
          <path d="..." fill="var(--primary-color)" />
        </svg>
        <span class="text-xl font-semibold">
          <i class="pi pi-book"></i>
          Melee<span class="text-primary">Index</span>
        </span>
      </span>
      <p-iconfield>
        <p-inputicon class="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
      </p-iconfield>
    </ng-template>
    <ng-template #end>
      <div class="flex gap-1">
        <div
          class="flex gap-1 bg-primary-200 dark:bg-slate-800 py-2 px-2 rounded-md mr-3"
        >
          <p-button icon="pi pi-discord" variant="text" size="small" />
          <p-button icon="pi pi-github" variant="text" size="small" />
          <p-button
            [icon]="'pi ' + (isLightMode ? 'pi-moon' : 'pi-sun')"
            (onClick)="toggleDarkMode()"
            variant="text"
            size="small"
          />
        </div>
        <div
          class="flex gap-1 bg-primary-200 dark:bg-slate-800 py-2 px-2 rounded-md"
        >
          <app-user></app-user>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
