<div class="home-container p-6">
  <header class="text-center mb-5">
    <h1 class="text-5xl font-extrabold mb-4 leading-tight">
      <i class="pi pi-book" style="font-size: 2.5rem"></i> Melee<span
        class="text-primary-500"
        >Index</span
      >
    </h1>
    <p
      class="text-lg md:text-xl text-gray-500 max-w-2xl mx-auto leading-relaxed"
    >
      Your ultimate resource for Super Smash Bros. Melee knowledge.
    </p>
  </header>
  <section class="mb-5">
    <div class="mb-2">
      <h4 class="text-2xl font-semibold">Guides</h4>
      <div class="flex justify-between">
        <p class="text-gray-500">
          Explore our curated collection of guides to help you master Super
          Smash Bros. Melee.
        </p>
        <a href="#" class="text-primary-500 hover:underline"
          >Explore all collections</a
        >
      </div>
    </div>
    <div class="grid md:grid-cols-4 gap-6">
      @for (section of heroSections; track $index) {
      <app-website-section-card
        [sectionTitle]="section.title"
        [description]="section.description"
        [link]="section.link"
        [author]="section.author"
      ></app-website-section-card>
      }
    </div>
  </section>

  <section class="mb-10">
    <div class="mb-2">
      <h4 class="text-2xl font-semibold">Featured Posts</h4>
      <div class="flex justify-between">
        <p class="text-gray-500">
          Hand-picked articles and guides from our community to help you improve
          your Melee knowledge.
        </p>
        <a href="/posts" class="text-primary-500 hover:underline"
          >Explore all posts</a
        >
      </div>
    </div>
    <app-latest-posts [posts]="latestPosts"></app-latest-posts>
  </section>
</div>
