<div class="h-full w-full">
  <p-menu
    #menu
    [model]="items"
    class="flex justify-center"
    styleClass="w-full h-screen"
  >
    <ng-template #submenuheader let-item>
      <span class="text-primary font-bold">{{ item.label }}</span>
    </ng-template>
    <ng-template #item let-item>
      @if (item.routerLink){
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="bg-gray-200 dark:bg-gray-800"
        [routerLinkActiveOptions]="{ exact: true }"
        class="flex items-center p-menu-item-link"
        pRipple
      >
        <span [class]="item.icon"></span>
        <span class="ml-2 w-full">{{ item.label }}</span>
      </a>
      } @else if (item.click) {
      <a
        (click)="item.click()"
        class="flex items-center p-menu-item-link"
        pRipple
        ><span [class]="item.icon"></span>
        <span class="ml-2 w-full">{{ item.label }}</span>
      </a>
      } @else {
      <span class="flex items-center p-menu-item-link" pRipple
        ><span [class]="item.icon"></span>
        <span class="ml-2 w-full">{{ item.label }}</span>
      </span>
      }
    </ng-template>
  </p-menu>
</div>
