@if (glossaryItems()) {
  <div class="w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3">
    @for (glossaryItem of glossaryItems(); track $index) {
      <p-card [pt]="cardPtOptions">
        <ng-template #header>
          @if (glossaryItem.cover) {
            <img
              alt="Card"
              class="w-full h-full object-cover rounded-t-md"
              src="{{ glossaryItem.cover!.url }}"
            />
          } @else {
            <div
              class="w-full h-full rounded-t-md bg-gradient-to-br from-primary to-primary/60 flex items-center justify-center p-4"
            >
              <span class="text-xl font-bold text-center text-primary-contrast">
                {{ glossaryItem.name }}
              </span>
            </div>
          }
        </ng-template>
        <ng-template #title> {{ glossaryItem.name }} </ng-template>
        <p>
          {{ glossaryItem.description }}
        </p>

        <ng-template #footer>
          <div class="mb-4 text-sm">
            <div class="w-full h-6">
              @if (glossaryItem.categories) {
                @for (category of glossaryItem.categories; track $index) {
                  <p-chip label="#{{ category.slug }}"></p-chip>
                }
              }
              @if (glossaryItem.characters && glossaryItem.characters!.length > 0) {
                <div class="float-right pt-2">
                  @for (character of glossaryItem.characters; track $index) {
                    <app-character-icon
                      [characterName]="character.name"
                      class="w-6 h-6 inline-block mr-1"
                    ></app-character-icon>
                  }
                </div>
              }
            </div>
          </div>
          <div class="flex gap-4">
            <a
              class="w-full"
              pButton
              routerLink="/glossary/{{ glossaryItem.documentId }}/{{ glossaryItem.name }}"
              >Read</a
            >
            <p-button
              icon="pi pi-bookmark"
              size="small"
              [severity]="false ? 'primary' : 'secondary'"
            />
            <p-button icon="pi pi-clone" size="small" severity="secondary" />
          </div>
        </ng-template>
      </p-card>
    }
  </div>
}
