@if (glossaryItems()) {
  <div class="w-full grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
    @for (glossaryItem of glossaryItems(); track $index) {
      <p-card>
        <ng-template #header>
          @if (glossaryItem.cover) {
            <img
              alt="Card"
              class="w-full h-full object-cover rounded-t-md"
              src="{{ glossaryItem.cover!.url }}"
            />
          }
        </ng-template>
        <ng-template #title> {{ glossaryItem.name }} </ng-template>
        <p class="m-0">
          {{ glossaryItem.description }}
        </p>

        <ng-template #footer>
          <div class="flex gap-4 mt-1">
            <a
              class="w-full"
              pButton
              routerLink="/glossary/{{ glossaryItem.documentId }}/{{ glossaryItem.name }}"
              >Read</a
            >
            <p-button
              icon="pi pi-bookmark"
              size="small"
              [severity]="false ? 'primary' : 'secondary'"
            />
            <p-button icon="pi pi-clone" size="small" severity="secondary" />
          </div>
        </ng-template>
      </p-card>
    }
  </div>
}
