<p-card [pt]="cardPtOptions">
  <ng-template #header>
    @if (displayPost().cover && !compact()) {
    <img
      alt="Card"
      class="w-full h-full object-cover rounded-t-md"
      src="{{ displayPost().cover!.url }}"
    />
    }
  </ng-template>
  <ng-template #title> {{ displayPost().title }} </ng-template>
  @if(displayPost().author) {
  <ng-template #subtitle>
    <div class="flex items-center gap-2">
      <p-avatar
        image="{{ displayPost().author.avatar.url }}"
        shape="circle"
        size="normal"
      ></p-avatar>
      <span>Created by {{ displayPost().author.name }}</span>
    </div>
  </ng-template>
  }

  <div>
    <p>
      {{ displayPost().description }}
    </p>
    <div class="mt-2">
      @if (displayPost().category) {
      <p-chip label="#{{ displayPost().category.slug }}"></p-chip>
      } @if (displayPost().characters && displayPost().characters!.length > 0) {
      <div class="float-right mt-2">
        @for (character of displayPost().characters; track $index){
        <img
          src="https://www.fightcore.gg/newicons/{{ character.name }}.webp"
          class="w-6 h-6 inline-block mr-1"
          alt="Character"
        />
        }
      </div>
      }
    </div>
  </div>

  <ng-template #footer>
    <div class="flex gap-4">
      <a
        [routerLink]="
          '/posts/' + displayPost().documentId + '/' + displayPost().slug
        "
        class="w-full"
        styleClass="w-full"
        pButton
      >
        Read
      </a>
      <p-button
        (onClick)="toggleBookmark()"
        icon="pi pi-bookmark"
        [severity]="displayPost().bookmarked ? 'primary' : 'secondary'"
      />
      <p-button icon="pi pi-share-alt" severity="secondary" />
    </div>
  </ng-template>
</p-card>
