<p-card>
  <ng-template #title>
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <p-avatar image="{{ author().avatar.url }}" shape="circle" size="large"></p-avatar>
        <p>
          {{ author().name }}
        </p>
      </div>
      <div class="flex flex-col items-end">
        @if (author().mains && author().mains.length > 0) {
          <ul class="mt-2">
            @for (main of author().mains; track main.slug) {
              <app-character-icon
                [characterName]="main.name"
                class="w-6 h-6 inline-block ml-1"
              ></app-character-icon>
            }
          </ul>
        }
      </div>
    </div>
    <p class="text-sm pt-2 text-gray-400">Joined: {{ author().createdAt | date: 'mediumDate' }}</p>
  </ng-template>
  <hr class="my-1" />
  <p class="text-sm">
    {{ author().bio?.substring(0, 200)
    }}{{ author().bio && author().bio!.length > 200 ? '...' : '' }}
  </p>

  <ng-template #footer>
    <div class="w-full flex gap-1 mb-2">
      @if (author().website) {
        <a
          pButton
          rel="noreferrer noopener"
          target="_blank"
          size="small"
          text="true"
          [href]="author().website"
        >
          <i class="pi pi-globe"></i>
        </a>
      }
      @if (author().x) {
        <a
          pButton
          rel="noreferrer noopener"
          target="_blank"
          size="small"
          text="true"
          [href]="'https://x.com/' + author().x"
        >
          <i class="pi pi-twitter"></i>
        </a>
      }
      @if (author().bluesky) {
        <a
          pButton
          rel="noreferrer noopener"
          target="_blank"
          size="small"
          text="true"
          [href]="'https://bsky.app/profile/' + author().bluesky"
        >
          <i class="pi pi-hashtag"></i>
        </a>
      }
      @if (author().youtube) {
        <a
          pButton
          rel="noreferrer noopener"
          target="_blank"
          size="small"
          text="true"
          [href]="author().youtube"
        >
          <i class="pi pi-youtube"></i>
        </a>
      }
      @if (author().twitch) {
        <a
          pButton
          rel="noreferrer noopener"
          target="_blank"
          size="small"
          text="true"
          [href]="'https://twitch.com/' + author().twitch"
        >
          <i class="pi pi-twitch"></i>
        </a>
      }
    </div>
    <div class="flex gap-2 justify-between">
      <p-button size="small" label="View"></p-button>
      <p-button size="small" label="Follow"></p-button>
    </div>
  </ng-template>
</p-card>
