<p-card>
  <ng-template #title>
    <span class="text-lg font-bold">Knowledge Check </span>
  </ng-template>
  <ng-template #subtitle>
    <span class="text-xl font-extrabold">
      {{ block().question }}
    </span>
  </ng-template>
  <div class="card flex flex-col gap-4 mb-2">
    @for (option of block().answers.split('\n'); track option) {
    <div>
      <p-radiobutton
        [inputId]="option"
        name="category"
        [value]="option"
        [(ngModel)]="selectedOption"
      />
      <label [for]="option" class="ml-2">{{ option }}</label>
    </div>
    }
  </div>
  <ng-template #footer>
    <p-button
      label="Submit"
      [disabled]="!selectedOption"
      (onClick)="submit()"
    ></p-button>
    <div class="mt-2">
      @if (isCorrect === true) {
      <p class="text-green-600 font-bold">Correct!</p>
      } @else if (isCorrect === false) {
      <p class="text-red-600 font-bold">Incorrect. Try again!</p>
      }
    </div>
  </ng-template>
</p-card>
