<div class="p-6">
  @if(character === null || move === null){
  <p>Loading...</p>
  } @else {
  <h2 class="text-2xl font-bold">{{ character.name }} - {{ move.name }}</h2>
  <app-frame-data-breadcrumbs
    [character]="character"
    [move]="move"
  ></app-frame-data-breadcrumbs>
  <div class="w-1/2">
    <app-frame-data-player [move]="move"></app-frame-data-player>
  </div>
  <app-hit-timeline [move]="move"></app-hit-timeline>
  <h4 class="text-xl py-2">Attributes</h4>
  <app-move-attributes-table [move]="move"></app-move-attributes-table>
  @if(move.hits) {
  <h4 class="text-xl py-2">Hitboxes</h4>
  <app-hitboxes-merged-table [hits]="move.hits"></app-hitboxes-merged-table>
  <h4 class="text-xl py-2">Crouch Cancel Percentages</h4>
  <app-crouch-cancel-percentages-table
    [hits]="move.hits"
  ></app-crouch-cancel-percentages-table>
  } }
</div>
