<form [formGroup]="sourceForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-4 mb-4">
      <label for="name" class="font-semibold w-24">Name</label>
      <div class="flex-auto flex flex-col">
        <input
          pInputText
          id="name"
          class="flex-auto"
          formControlName="name"
          autocomplete="off"
        />
        <app-form-validation-error
          [control]="sourceForm.controls['name']"
        ></app-form-validation-error>
      </div>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="description" class="font-semibold w-24">Description</label>
      <div class="flex-auto flex flex-col">
        <input
          pInputText
          id="description"
          class="flex-auto"
          formControlName="description"
          autocomplete="off"
        />
        <app-form-validation-error
          [control]="sourceForm.controls['description']"
        ></app-form-validation-error>
      </div>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="description" class="font-semibold w-24">URL</label>
      <div class="flex-auto flex flex-col">
        <input
          pInputText
          id="url"
          class="flex-auto"
          formControlName="url"
          autocomplete="off"
        />
        <app-form-validation-error
          [control]="sourceForm.controls['url']"
        ></app-form-validation-error>
      </div>
    </div>
    <div class="flex justify-end gap-2">
      <p-button
        label="Cancel"
        severity="secondary"
        type="button"
        (onClick)="close()"
      />
      <p-button
        type="submit"
        label="Create Source"
        [disabled]="sourceForm.invalid"
      />
    </div>
  </div>
</form>
<p-toast position="top-right"></p-toast>
